<h1 style= "color:indianred">Welcome, to Candy World! </h1>
<button class= "btn btn-info"> <%= link_to '<< View Shops', shops_path%></button>
<div>
<%= image_tag('Candy world 2.jpg', :size => '1200x500')%>
</div>

<!-- <button class= "btn btn-info"> <%= link_to 'Shelves', shelves_path%></button>
<button class= "btn btn-info"> <%= link_to 'Candies', candies_path%></button> -->